* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg_color);
  color: var(--text_default);
  font-family: var(--font-family);
  font-size: var(--font_size);
  line-height: var(--line_height);
}

input {
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  font-family: var(--font-family);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}